.end_wrapper {
  cursor: grab;

  .end_card {
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
    border: 0;
    border-radius: 5px;
  }
}